<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="@Url.Content("~/Content/js/pages.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/jquery-1.7.2.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/jquery.mobile-1.3.1.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/jquery-ui-1.8.24.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/jquery.imagesloaded.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/jquery.masonry.js")"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            statusCode: {
                401: function () {
                    window.location.href = "/login";
                }
            }
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/serialize-object.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/underscore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/bootbox.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/backbone.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/backbone.subroute.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/backbone.queryparams.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/backbone-validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/backbone.validation.bootstrap.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/require.js")" data-main="Content/js/loader"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/modernizr-1.7.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shared/lib/moment.js")"></script>
</body>
</html>
